<div class="oor-page-header">
  <h1>New Step for "<%= @tour.name %>"</h1>
  <div class="oor-page-header__actions">
    <%= link_to "Back to Tour", edit_admin_tour_path(@tour), class: "oor-btn oor-btn--secondary" %>
  </div>
</div>

<div class="oor-panel">
  <%= render "form", tour: @tour, step: @step %>
</div>
